{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "endOfLine": "auto",
    "printWidth": 100,
    "importOrderSeparation": true,
    "singleQuote": false,
    "doubleQuote":true
}
